/* baseline (h1-3, p, a, buttons) global styling */

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}


h1 { 
    font-size: 2rem;
    color: white;
    text-align: center;
}


h2 { 
    font-size: 1.5rem;
    padding-bottom: 1rem;
}


h3 { 
    font-size: 1.5rem;
    padding-bottom: 1rem;
}


p {
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}


ul { 
    padding: 0.25rem;
}


a { 
    text-decoration: none;
    color: white;
}


a:hover {
    font-weight:bold;
    color: #4DD6A9;
}


.mainNav { 
    color: white;
    padding-top: 1rem;
}


.btnUL { 
    padding-top: 0.5rem;
}


.greenBtn { 
    max-height: 50px;
    max-width: 250px;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    background-color: #4DD6A9;
    border: 0px;
    color: white;
    font-weight: bold;
}


a.greenBtn { 
    color: white;
}

.altBkgColor { 
    background: #E2F2FA;
    padding-bottom: 1rem;
}


.sectpadding { 
    padding: 1.5rem;
}


.TrytheApp { 
    background:#7A73E4;
    color: white;
    text-align: center;
    padding: 2rem;
}


.footerBar { 
    background-color: black;
    font-size: 0.2rem;
    padding: 0.75rem;
    color: white;
}


.captionText { 
    font-size: 1rem;
}



/* Styling for images in landing page */
.logoContainer { 
    width: 15rem;
    object-fit: cover;
    overflow: hidden;
} 


.GMLLogo { 
    max-width: 250px;
}


.planIcons {
    max-height: 80px;
}


.mobImgs { 
    max-width: 350px;
}


.QRImg { 
    max-width: 200px;
    padding: 1rem;
}



/* gradient for navigation and headline(hero) */
.navGradient { 
    background-image: linear-gradient(to left,#7A73E4, #1B8AF9);
    height: 10rem;
    margin: 0;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}


.headlineGradient { 
    background-image: linear-gradient(to left,#7A73E4, #1B8AF9);
    height: 20rem;
    margin: 0;
    color: white;
    text-align: center;
    padding-top: 2rem;
}



/* Specific styling for sections */
/* index/landing page */
.iconContainer { 
    text-align: center;
    padding-bottom: 0.5rem;
}


.mobContainer { 
    text-align: center;
}



/* Form Styling */
.fsName .fsEmail .fsMsg { 
    display: block;
}

.inputMsg { 
    vertical-align: top;
}

fieldset { 
    padding: 1rem;
}

legend { 
    padding: 0.5rem;
}


input[type=text], textarea { 
    display: inline-block;
    width: 90%;
    padding: 1rem;
    margin: 0.5rem 0;
    border: 2px solid #ccc;
    border-radius: 4px;
    color: grey;
}


input[type=submit] { 
    background-color: #4DD6A9;
    color: white;
    border: 0;
    padding: 0.5rem;
    border-radius: 4px;
}


input[type=submit]:hover { 
    border: 2px solid black;
    font-weight: bold;
}




/* Hamburger Navigation CSS Styling */
.container-fluid { 
    background-image: linear-gradient(to left,#7A73E4, #1B8AF9);
    margin: 0;
  }

.navbar { 
    padding: 0;
}

.navbar-nav { 
    align-items: flex-end;
    padding-bottom: 1rem;
}

  .navbar-toggler { 
      border: 0;
      
  }

  .navbar-collapse.show .navbar-nav { 
      background-image: linear-gradient(to left,#7A73E4, #1B8AF9);
      margin: 0;
      
  }

.navbar-collapse { 
    flex-grow: 0;
}

.nav-link {
    color: white;
}



/* Responsive Design: large screens */

/* screen size between 0 to 400 (older(?) mobile screens) */
@media (max-width: 500px) { 
    h1 {
        font-size: 1.5rem;
        padding: 2rem; 
    }

    h2 { 
        font-size: 1.5rem;
        padding: 2rem;
    }

}


/* screen size between 600 or greater (i.e. desktop) */
@media(min-width: 740px) {

    h1 {
        font-size: 3rem;
        padding: 2.5rem;
    }

    h2 { 
        font-size: 2.5rem;
    }

    h3 { 
        font-size: 2.5rem;
    }

    h4 {
        font-size: 2rem;
    }
     
    p {
        font-size: 1.5rem;
    }

    ul { 
        padding-right: 1rem;
    }

    .iconGrid { 
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 2em;
    }

    .iconUL { 
        padding-bottom: 2rem;
    }

    .planIcons { 
        padding: 0.5rem;
        max-height: 100px;
    }

    .mobImgs { 
        padding: 1rem;
    }

    .GMLWhy { 
        display: flex;
    }


/* Pages (Practitioner, Enterprise) video and content styling */

    .videoContentSidebySide { 
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .subPageContent { 
        display: block;
        margin-left: 1rem;
    }


}
